/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .main-menu ul li {
        margin-left: 28px;
    }

    .single-features p {
        font-size: 13px;
    }

    .about-img img {
        max-width: 100%;
    }

    .service-wrapper {
        margin-bottom: 25px;
    }

    .blog-thum img {
        max-width: 100%;
    }

    .blog-content p {
        font-size: 15px;
    }

    .mean-container a.meanmenu-reveal {
        border: none;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-area {
    padding: 29px 40px;
    padding-bottom: 10px;
}
.features-area {
    margin-top: 0px;
    padding-top: 100px;
}
.single-features {
    border-bottom: 1px solid #ddd;
}
.about-img {
    margin-top: 40px;
}
.subscribe-from input {
    width: 23%;

}
.theme-bg .col-xl-4:last-child .single-features {
    border-bottom: 0;
}
.single-slider {
    background-size: cover;
    background-position: center;
}
.features-area {
    margin-top: 0px;
    padding-top: 100px;
}
.slider-inner p {
    margin-bottom: 25px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .header-area {
        padding: 29px 40px;
        padding-bottom: 10px;
    }
    .single-features {
        border-bottom: 1px solid #ddd;
    }
    .theme-bg .col-xl-4:last-child .single-features {
        border-bottom: 0;
    }
    .features-area {
        margin-top: 0px;
        padding-top: 100px;
    }
    .slider-inner h2 {
        font-size: 40px;
    }
    img {
        width: 100%;
    }
    .logo {
        width: 50%;
    }
    .slider-inner p {
        margin-bottom: 25px;
    }
    .about-img {
        margin-top: 40px;
    }
    .subscribe-from input {
        width: 100%;
        margin-bottom: 15px;
    }
    .pricing-item {
        width: 100%;
    }
    .testimonial-item {
        padding: 60px 30px;
    }
    .copyright-text {
        text-align: center;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
